/*  your css code here. If applicable */
body{
	font-family: Arial, sans-serif;
	display:flex;
	margin:0;
	padding:0;
	justify-content:center;
	align-items: center;
     height: 100vh;
    background-color: #f4f4f4;
}
.card{
	width:35%;
	padding:20px;
	background-color:whitesmoke;
	box-shadow:0 0 10px black;
	text-align:center;
	
}
.card img{
	width: 200px;
    margin-bottom: 10px;
}
.card p{
	 margin-bottom: 20px;
}
.card button {
            padding: 10px 20px;
            background-color:#e74c3c;;
            color: #ffffff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }